USE [DemoExam]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] NOT NULL,
	[CategoryName] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[Id] [int] NOT NULL,
	[ManufacturerName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDeliveryPlaces]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDeliveryPlaces](
	[Id] [int] NOT NULL,
	[Index] [int] NOT NULL,
	[City] [nchar](30) NOT NULL,
	[Street] [nchar](50) NOT NULL,
	[HomeNumber] [int] NOT NULL,
 CONSTRAINT [PK_OrderDeliveryPlaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[IdOrderDeliveryPlace] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[IdOrderStatus] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[Id] [int] NOT NULL,
	[StatusName] [nchar](30) NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NOT NULL,
	[Articul] [nvarchar](10) NOT NULL,
	[IdProductType] [int] NOT NULL,
	[UnitOfMeasurement] [nchar](5) NOT NULL,
	[Price] [money] NOT NULL,
	[IdSupplier] [int] NOT NULL,
	[IdManufacturer] [int] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[Description] [text] NOT NULL,
	[PhotoPath] [nchar](100) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ID] [int] NOT NULL,
	[Type] [nchar](30) NOT NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[RoleName] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] NOT NULL,
	[SupplierName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.11.2025 15:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[Surname] [nchar](20) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[Patronymic] [nchar](30) NOT NULL,
	[Login] [text] NOT NULL,
	[Password] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (1, N'Мужская обувь                                     ')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (2, N'Женская обувь                                     ')
GO
INSERT [dbo].[Manufacturer] ([Id], [ManufacturerName]) VALUES (1, N'Kari                                              ')
INSERT [dbo].[Manufacturer] ([Id], [ManufacturerName]) VALUES (2, N'Marco Tozzi                                       ')
INSERT [dbo].[Manufacturer] ([Id], [ManufacturerName]) VALUES (3, N'Poc                                               ')
GO
INSERT [dbo].[OrderDeliveryPlaces] ([Id], [Index], [City], [Street], [HomeNumber]) VALUES (1, 420151, N' г. Лесной                    ', N' ул. Вишневая                                     ', 32)
INSERT [dbo].[OrderDeliveryPlaces] ([Id], [Index], [City], [Street], [HomeNumber]) VALUES (2, 125061, N' г. Лесной                    ', N' ул. Подгорная                                    ', 8)
INSERT [dbo].[OrderDeliveryPlaces] ([Id], [Index], [City], [Street], [HomeNumber]) VALUES (3, 630370, N' г. Лесной                    ', N' ул. Шоссейная                                    ', 24)
GO
INSERT [dbo].[Orders] ([Id], [OrderNumber], [IdProduct], [OrderDate], [DeliveryDate], [IdOrderDeliveryPlace], [IdClient], [Code], [IdOrderStatus]) VALUES (1, 1, 1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, 901, 2)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [IdProduct], [OrderDate], [DeliveryDate], [IdOrderDeliveryPlace], [IdClient], [Code], [IdOrderStatus]) VALUES (2, 1, 2, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, 901, 2)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [IdProduct], [OrderDate], [DeliveryDate], [IdOrderDeliveryPlace], [IdClient], [Code], [IdOrderStatus]) VALUES (3, 2, 3, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 1, 902, 2)
GO
INSERT [dbo].[OrderStatuses] ([Id], [StatusName]) VALUES (1, N'Новый                         ')
INSERT [dbo].[OrderStatuses] ([Id], [StatusName]) VALUES (2, N'Завершен                      ')
GO
INSERT [dbo].[Products] ([Id], [Articul], [IdProductType], [UnitOfMeasurement], [Price], [IdSupplier], [IdManufacturer], [IdCategory], [Discount], [QuantityInStock], [Description], [PhotoPath]) VALUES (1, N'А112Т4', 1, N'шт.  ', 4990.0000, 1, 1, 2, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg                                                                                               ')
INSERT [dbo].[Products] ([Id], [Articul], [IdProductType], [UnitOfMeasurement], [Price], [IdSupplier], [IdManufacturer], [IdCategory], [Discount], [QuantityInStock], [Description], [PhotoPath]) VALUES (2, N'F635R4', 1, N'шт.  ', 3244.0000, 2, 2, 2, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg                                                                                               ')
INSERT [dbo].[Products] ([Id], [Articul], [IdProductType], [UnitOfMeasurement], [Price], [IdSupplier], [IdManufacturer], [IdCategory], [Discount], [QuantityInStock], [Description], [PhotoPath]) VALUES (3, N'H782T5', 2, N'шт.  ', 4499.0000, 1, 1, 1, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg                                                                                               ')
GO
INSERT [dbo].[ProductTypes] ([ID], [Type]) VALUES (1, N'Ботинки                       ')
INSERT [dbo].[ProductTypes] ([ID], [Type]) VALUES (2, N'Туфли                         ')
INSERT [dbo].[ProductTypes] ([ID], [Type]) VALUES (3, N'Кроссовки                     ')
GO
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Администратор                 ')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Менеджер                      ')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'Авторизированный клиент       ')
GO
INSERT [dbo].[Suppliers] ([Id], [SupplierName]) VALUES (1, N'Kari                                              ')
INSERT [dbo].[Suppliers] ([Id], [SupplierName]) VALUES (2, N'Обувь для вас                                     ')
GO
INSERT [dbo].[Users] ([Id], [IdRole], [Surname], [Name], [Patronymic], [Login], [Password]) VALUES (1, 1, N'Никифорова          ', N'Весения                       ', N'Николаевна                    ', N'94d5ous@gmail.com', N'uzWC67                        ')
INSERT [dbo].[Users] ([Id], [IdRole], [Surname], [Name], [Patronymic], [Login], [Password]) VALUES (2, 1, N'Сазонов             ', N'Руслан                        ', N'Германович                    ', N'uth4iz@mail.com', N'2L6KZG                        ')
INSERT [dbo].[Users] ([Id], [IdRole], [Surname], [Name], [Patronymic], [Login], [Password]) VALUES (3, 1, N'Одинцов             ', N'Серафим                       ', N'Артёмович                     ', N'yzls62@outlook.com', N'JlFRCZ                        ')
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderDeliveryPlaces] FOREIGN KEY([IdOrderDeliveryPlace])
REFERENCES [dbo].[OrderDeliveryPlaces] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderDeliveryPlaces]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses] FOREIGN KEY([IdOrderStatus])
REFERENCES [dbo].[OrderStatuses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductTypes] FOREIGN KEY([IdProductType])
REFERENCES [dbo].[ProductTypes] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductTypes]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
